# Python cache
__pycache__/
*.py[cod]

# Jupyter temporary files
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Python environment files
.env
